<li>
  Name: {{this.project_name}} | Craft: {{this.craft}}
  <button class="inProg" data-id="{{id}}" data-newprog="{{prog}}">
    {{#if prog}}Attack it!{{else}}Run away!{{/if}}
  </button>
  <button class="deleteUfo" data-id="{{this.id}}">F'ed!</button>
</li>
