<li>
  UFO Name: {{this.project_name}} | Craft: {{this.craft}}
  <button class="inProg" data-id="{{id}}" data-newprog="{{prog}}">
    {{#if prog}}On it!{{else}}Waiting{{/if}}
  </button>
  <button class="deleteUfo" data-id="{{this.id}}">F'ed!</button>
</li>
