<li>
  {{this.project_name}} | {{this.craft}}
  <button class="inProg" data-id="{{id}}" data-active="{{inProg}}">
    {{#if inProg}}On it!{{else}}Waiting{{/if}}
  </button>
  <button class="deleteUfo" data-id="{{this.id}}">F'ed!</button>
</li>
