<li>
  {{this.project_name}} | {{this.craft}}
  <button class="isActive" data-id="{{id}}" data-active="{{ active }}">
    {{#if active}}On it!{{else}}Waiting{{/if}}
  </button>
  <button class="deleteUfo" data-id="{{ id }}" data-id="{{ this.id }}">F'ed!</button>
</li>
